{% load widget_tweaks %}

<!DOCTYPE html>
<head>
  <title>Search</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
 <style>
    #advanced {
        display:none;
    }

    table {
        text-align: center;
    }

    tbody {
        display:block;
        overflow:auto;
    }

    thead, tbody tr {
        display:table;
        width:100%;
        table-layout:fixed;
    }
 </style>

</head>
<body>
  <div class="container">
  </div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center green-text text-lighten-3">Movie Retrieval</h1>
      <div class="row center">
        <h5 class="header col s12 light grey-text text-lighten-1">Search for your movies with full-text search!</h5>
      </div>
    </div>
  </div>

   <div class="container">
    <!-- Search bar+form -->
        <div class="row">
        <div class="col s12">
            <form method="get">
                <div class="input-field">
                    {{ form.query.errors }}
                    <i class="material-icons prefix">search</i>
                    {{ form.query.label_tag }} {{ form.query }}
                </div>

                <a class="waves-effect waves-teal btn-flat btn-small" id="hide" onclick="show();">Advanced Options</a>

                <div id="advanced">
                    <div class="switch">
                        <label>
                            {{ form.personalized.errors }}
                            {{ form.personalized.label_tag }}
                            {{ form.personalized}} 
                            <span class="lever"></span>
                        </label>
                    </div> 
                    <div class="switch">
                        <label>
                            {{ form.fuzzy.errors }}
                            {{ form.fuzzy.label_tag }}
                            {{ form.fuzzy}} 
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

        <!-- Results bar -->
        <div class="row">
                <div class="col s12">
                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Overview</th>
                                <th>Score</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% if items %}
                                {% for item in items %}
                                    <tr>
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.overview }}</td>
                                        <td>{{ item.meta.score }}</td>
                                        
                                        </tr>
                                    <tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>




  </body>
      
  <script>
        var m=0;
        var x = document.getElementById("advanced");

        function show()
        {
          if(m==0)
          {
            x.style.display='block';
            m=1;
          }else{
            x.style.display='none';
            m=0;
          }
        }
    </script>
</html>
